body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #303030;
  color: #EFEFEF;
}

a:-webkit-any-link {
    color: #EFEFEF;
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link:active {
    color: #EFEFEF;
}

.app-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    height: 30px;
}

.app-header .app-header-tools {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.app-header .header-navlink-btn {
    height: 100%;
    padding: 5px 30px 5px 30px;
    width: 120px;
    line-height: 30px;
}

.app-logo {
    width: 200px;
}

.app-logo .header-navlink-btn {
    width: auto;
}

.app-header .header-navlink-btn:hover {
    background-color: #5F5F5F;
}

.dlmmg-btn .dlmmg-btn-btn-el {
    background-color: #222;
    cursor: pointer;
    color: #F5F5F5;
    border-width: 0px;
    border-style: none;
    border-color: none;
    border-image: none;
}

.dlmmg-btn .dlmmg-btn-btn-el:hover {
    background-color: #5F5F5F;
}

/*.dlmmg-grid {
    display: grid;
    grid-auto-rows: 24px;
}

.dlmmg-grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
}

.dlmmg-grid-row:hover {
    background-color: #5F5F5F;
}*/